@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-primary: #f97316;
    --accent-secondary: #1e293b;
    --dark:#18181b;
    --light:#f3f4f6;
  }
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-primary);
    scrollbar-track-color: var(--accent-secondary);
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    background: var(--accent-secondary);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--accent-primary);
    /* background-image: linear-gradient(to bottom, #9fe2f9, #006eff) !important; */
    /* border-radius: 20px; */
    /* border: 3px solid var(--accent-primary); */
  }

  .xs-notFound {
    height: max(400px, calc(100vh - 150px));
  }
  .sm-notFound {
    height: calc(100vh - 150px);
  }
  .md-notFound {
    height: calc(100vh - 350px);
  }
  .shadow-light{
    box-shadow: 0px 30px 30px -6px var(--light);
  }
  .shadow-dark{
    box-shadow: 0px 40px 40px -6px var(--dark);
  }

  :is(:not(.dark) .text-accent)::selection {
    background-color: rgb(113 113 122 / var(--tw-bg-opacity));
  }
  :is(.dark .text-accent)::selection {
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  }

  :is(:not(.dark) .decoration-accent)::selection {
    text-decoration: underline rgb(113 113 122 / var(--tw-bg-opacity));
  }
  :is(.dark .decoration-accent)::selection {
    text-decoration: underline rgb(107 114 128 / var(--tw-bg-opacity));
  }
}
@layer components {
  .navlink {
    @apply hover:underline decoration-accent font-bold hover:font-extrabold md:font-normal dark:text-light text-center decoration-2 active:underline underline-offset-8 p-3 cursor-pointer md:hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out;
  }
  .navLinks-md {
    @apply z-40 bg-light-primary dark:bg-dark-primary text-dark-primary dark:text-light-primary flex flex-col fixed right-0 top-0 md:hidden text-xs px-10 h-screen justify-center min-w-[12rem] w-1/2 max-w-[18rem] gap-5 transition-all duration-500;
  }
}
